/*!CK:2220418533!*//*1380635315,173217319*/

._5dsg ._5ds7{padding:0 35px;width:250px}
.sp_drhpwb{background-image:url(/rsrc.php/v2/yu/r/_8Eh2MFQqQk.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_12cedc{background-position:0 0}
.sx_117842{background-position:0 -17px}
.sx_3bfc6d{background-position:0 -34px}

#bootloader_dlumK { height: 42px; }
.bootloader_dlumK { display:block !important; }