/*!CK:3040303945!*//*1380505314,173220387*/

.FlyoutSubscriptionMenu{min-width:180px}
.SubscriptionMenu .itemLabel{overflow:hidden}
div.SubscriptionMenu .SubscriptionMenuCategory .itemAnchor{font-weight:normal}
div.FriendListSubscribeSubmenu{padding-top:0;padding-bottom:0}
div.FriendListActionMenu, div.InterestListMenuDisconnect{padding-top:0}
div.InterestListMenuLists{padding-bottom:0}
.addToInterestListsClosed .FriendListSubscribeSubmenu{padding-top:4px}
.addToInterestListsOpen .InterestListCreateList{padding-bottom:4px}
.NonFriendSubscriptionMenu .hideFromNonFriend, .isUnsubscribed .SubscribeMenuSettingsItem, .subscriptionMenuOpen .FriendListActionMenu, .subscriptionMenuOpen .FlyoutFriendListMenu, .subscriptionMenuOpen .InterestListMenuLists, .subscriptionMenuOpen .InterestListMenuDisconnect, .subscriptionMenuOpen .FriendListSubscribeSubmenu, .subscriptionMenuOpen .AddToInterestListsMenuItem, .addToInterestListsClosed.subscriptionMenuOpen .FlyoutFriendListMenu, .addToInterestListsClosed.subscriptionMenuOpen .InterestListMenuLists, .addToInterestListsClosed.subscriptionMenuOpen .InterestListMenuDisconnect, .addToInterestListsClosed.subscriptionMenuOpen .FriendListSubscribeSubmenu, .addToInterestListsClosed.subscriptionMenuOpen .AddToInterestListsMenuItem, .addToInterestListsOpen .FriendListSubscribeSubmenu, .addToInterestListsOpen .AddToInterestListsMenuItem, .addToInterestListsOpen .InterestListMenuDisconnect, .addToInterestListsClosed .InterestListMenuLists, .addToInterestListsClosed .InterestListMenuGoBack, .cannotSubscribe .FriendListSubscribeSubmenu, .noSubscriptionLevels .SubscribeMenuSettingsItem, .noSubscribeCheckbox .SubscribeMenuSubscribeCheckbox, .pagesSubscribeButtonFlyout .SubscribeMenuSubscribeCheckbox, .FriendListSubscriptionsMenu{display:none}
.addToInterestListsOpen .InterestListMenuGoBack, .addToInterestListsOpen .InterestListMenuLists, .addToInterestListsClosed .FriendListSubscribeSubmenu, .addToInterestListsClosed .AddToInterestListsMenuItem, .addToInterestListsClosed .InterestListMenuDisconnect, .subscriptionMenuOpen .FriendListSubscriptionsMenu{display:block}
span.FollowLink .followLinkInlineCheck{display:inline;margin-right:4px}
.followLinkSubscribed{cursor:default}
.friendBrowserCheckboxFilters{width:200px;margin:0 auto;float:left}
.friendBrowserCheckboxFilterHeader{margin-bottom:3px}
.friendBrowserCheckboxFilterTypeahead{margin-top:3px}
.friendBrowserCheckboxFilterTypeahead .friendBrowserSearchInput{width:192px}
.friendBrowserCheckboxContent{width:493px;float:right;position:relative}
.friendBrowserCheckboxContentOnload{opacity:.3}
.friendBrowserSubTitle{margin-top:2px;margin-bottom:15px}
.friendBrowserHeader{margin-bottom:15px}
.friendBrowserPage{width:713px}
.friendBrowserPage label{color:#333;font-weight:normal}
.friendBrowserTypeahead .DOMControl_placeholder{color:#bbb}
.friendBrowsingCheckboxContentLoadingIndicator{position:absolute;z-index:1;top:90px;left:50%}
.friendBrowserGrid{width:100%}
.friendBrowserBlankState{position:relative;text-align:center;top:100px}
.friend_browser_page_name_box{min-height:65px;line-height:15px;text-align:left;width:100px}
.friend_browser_page_name_box.huger{min-height:0;padding-top:5px;margin-right:7px;width:112px}
.friend_browser_addfriend_icon{margin:4px 4px 0 0}
.friendBrowserRequesting .friendBrowserMutualFriendLink, .friendBrowserRequested .friendBrowserMutualFriendLink, .friendBrowserRequesting .friendBrowserSendingMessage, .friendBrowserRequested .friendBrowserUndoLink{display:none}
.friendBrowserRequesting .friendBrowserPicture, .friendBrowserRequested .friendBrowserPicture{opacity:.3}
.friendBrowserExtraSpacing{margin:3px 0}
.friendBrowserPhotoWrapper{height:75px;width:75px}
.friendBrowserPhotoCrop{background:#eee;height:75px;width:75px;overflow:hidden;position:absolute}
div.friendBrowserContentAlignMiddle{height:75px;vertical-align:middle !important}
.friendBrowserMarginTopTiny{margin-top:2px}
.friendBrowserMarginTopMini{margin-top:4px}
.friendBrowserAuxAlignMiddle{margin-top:26px}
.friendBrowserUnit .photoContainer{position:relative}
.friendBrowserUnit .closeButtonContainer{left:80px;position:absolute;top:3px;visibility:hidden}
.friendBrowserUnit .closeButtonContainer.huger{left:94px}
.friendBrowserPicture.huger{height:112px;width:112px}
.friendBrowserUnit .smallButton .closeButtonContainer{top:-3px}
.friendBrowserUnit .horizontalLayout .closeButtonContainer{left:172px}
.friendBrowserUnit:hover .discardable .closeButtonContainer, .friendBrowserUnit .discardable .closeButtonContainer.visibleClose{visibility:visible}
.gridUnitPlaceholder{width:110px}
.localeCustomLayout .friendBrowserUnit{padding:6px 0 2px 0}
.fbProfileLargePortraitImgScaleHeight{height:75px;position:relative}
.fbProfileLargePortraitImgScaleWidth{position:relative;width:75px}
.fbProfileLargePortraitImgSmall{background-position:center 10%}
.fbProfileLargePortraitImgMedium{background-position:center 15%}
.fbProfileLargePortraitImgLarge{background-position:center 20%}
.fbProfileLargePortraitImgHuge{background-position:center 30%}
.UIIntentionalStreamSearch .highlight,
.UIIntentionalStreamSearch .inserted{color:#000;font-weight:bold;margin:0 0 0 0}
.UIResultSet_MoreLink{display:block;padding-top:4px}
.UIResultSet{padding:0 6px}
.UIResultSet_SuppressBasePadding{padding:0}

.fbDetailedSearchFilterArea{position:relative}
.fbDetailedSearchFilterArea .detailLoadingIndicator{position:absolute;top:0;right:0}
.fbDetailedSearchTypeahead{overflow:hidden}
.detailedsearch_feature_header{background-color:#e9e9e9;border:0;height:7px;margin-bottom:10px;padding:0;text-align:center}
.detailedsearch_feature_header span{background-color:#fff;padding:0 5px;position:relative;top:-4px;color:gray;font-weight:bold}
.detailedsearch_result{padding-bottom:5px;border-bottom:1px solid #e9e9e9}
.detailedsearch_last_result{border-bottom:0 none}
.detailedsearch_actions .detailedseach_action_item{white-space:nowrap}
.searchResultPersonByline .fbProfileBylineFragment{display:block;width:auto}
.searchResultPersonByline .fbProfileBylineIconContainer .fbProfileBylineIcon{margin:0}
.searchResultPersonByline .fbProfileBylineIconContainer{width:11px;margin-right:5px;display:inline-block}
.searchResultPersonByline{width:auto;display:block}
._3nb{height:17px}
._3nc{width:100%}
._3nd{width:50%}
.sp_bns5ik{background-image:url(/rsrc.php/v2/yK/r/MCKumTUusjO.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:10px;width:16px}
.sx_a89aad{width:14px;height:14px;background-position:0 -51px}
.sx_c2a23b{height:16px;background-position:0 0}
.sx_a5802c{width:11px;background-position:0 -81px}
.sx_b10744{width:9px;height:5px;background-position:0 -126px}
.sx_ecb2d8{width:9px;height:11px;background-position:0 -92px}
.sx_132a61{width:10px;background-position:0 -104px}
.sx_42bb05{width:12px;height:14px;background-position:0 -66px}
.sx_bd2f1c{width:10px;background-position:0 -115px}
.sx_0a7677{height:16px;background-position:0 -17px}
.sx_968fb7{height:16px;background-position:0 -34px}

#bootloader_sY8cN { height: 42px; }
.bootloader_sY8cN { display:block !important; }