/*!CK:1846299916!*//*1380507982,178142805*/

.fbFlyoutDialog .tickerDialogBody{width:378px}
.fbFlyoutDialog .tickerDialogSmall{width:323px}
.fbFlyoutDialog .tickerDialogLarge{width:413px}
.fbDesktopTickerPermalink .fbFlyoutDialog .tickerDialogBody, .fbDesktopTickerPermalink .fbFlyoutDialog .tickerDialogSmall, .fbDesktopTickerPermalink .fbFlyoutDialog .tickerDialogLarge{margin-left:auto;margin-right:auto;border:1px solid #c4cde0;background-color:#fff;padding:0 2px 2px 2px}
.fbDesktopTickerPermalink{background-color:#e7ebf2}
.fbFlyoutDialog .uiScrollableArea.contentAfter:after{background-color:rgba(0, 0, 0, .12)}
.fbFlyoutDialog .uiScrollableAreaContent{padding:2px}
.fbFlyoutDialog .commentable_item .uiScrollableAreaContent{padding-bottom:0}
.fbFlyoutDialog .fbUfi{padding-top:0;width:auto}
.fbFlyoutDialog .tickerHide{float:right;margin:5px 10px 0 0}
.fbTickerStreamStory .fbAudienceHover{top:0;vertical-align:-2px}
.fbFlyoutDialog .fbExpandedStreamAction .tickerHide{float:none;margin:5px 0 0 0}
.fbFlyoutDialog .uiStream .tickerHide{margin:0 17px 0 0}
.fbFlyoutDialog .fbExpandedStreamAction{margin-right:-2px;margin-top:-5px;text-align:right}
.fbFlyoutDialog .tickerUfiAction{background-color:#edeff4;border-bottom:1px solid #d2d9e7;margin-top:1px;padding:5px 8px}
.fbFlyoutDialog .UIActionLinks_bottom a, .fbFlyoutDialog .UIActionLinks_bottom button.as_link, .fbFlyoutDialog .UIActionLinks_bottom .uiLinkButton input, .fbFlyoutDialog .UIActionLinks_bottom .uiLinkButton input:hover{color:#3b5998}
.fbFlyoutDialog .tickerPhotoActionWrapper{position:absolute;right:5px;top:5px}
.fbFloutDialog .flyoutHasAction .tickerHide{display:none !important}
.fbTickerStream .actorDescription, .fbTickerStream .uiStreamMessage{font-size:11px}
.fbTickerStream .uiStreamMessage{font-weight:normal}
.fbTickerStream .uiAttachmentDesc, .fbTickerStream .uiStreamPassive{color:gray}
div.tickerHide .uiSelectorButton{background-image:url(/rsrc.php/v2/yM/r/WsHJKsNy2lp.png);background-position:left top;border:0 !important;height:15px;left:-9999px;position:relative;width:17px}
div.tickerHide .uiSelectorButton:hover{background-position:-17px top}
div.tickerHide .uiSelectorButton:active, div.openToggler.tickerHide .uiSelectorButton{background-position:-34px top !important}
div.openToggler.tickerHide .uiSelectorButton, .fbFlyoutDialog div.tickerHide .uiSelectorButton{left:auto}
.fbFlyoutDialog .fbTickerStreamStory{padding:8px}
.fbFlyoutDialog .tickerDialogFooter{background-color:#edeff4;border-top:1px solid #fff;padding:5px 5px 5px 8px}
.fbFlyoutDialog .fbProfileByline{width:100%}
.fbFlyoutDialog .fbProfileBylineFragment{display:block}
.fbFlyoutDialog .tickerCheckinMap{margin-bottom:-3px}
.fbFlyoutDialog .tickerCheckinMapBorder{width:376px}
.fbFlyoutDialog .uiStreamInlineTextarea{height:14px;width:100%}
.fbFlyoutDialog h2{font-size:14px}
.fbFlyoutDialog .tickerFullPhoto i{width:409px}
.fbFlyoutDialog .tickerFullPhoto, .fbFlyoutDialog .tickerFullPhoto:hover{background-color:#eee;border:none;padding:0}
.fbFlyoutDialog .photoWrapper{background-color:#eee;border-bottom:1px solid #ccc;overflow:hidden;text-align:center}
.fbFlyoutDialog .videoWrapper{background-color:#eee;overflow:hidden;text-align:center}
.fbFlyoutDialog .videoWrapper a{display:block;min-height:50px}
.fbFlyoutDialog .tickerVideo{margin:0 auto}
.fbFlyoutDialog .videoWrapper .uiVideoThumb img{background:no-repeat 50% 50%;max-height:310px;max-width:413px}
.fbFlyoutDialog .songTitleWrapper{border-bottom:1px solid #e9e9e9;margin:0 8px;padding:5px 0}
.fbFlyoutDialog .uiStreamStory .uiStreamAttachments, .fbFlyoutDialog .uiStreamStory .largePhoto img{max-width:266px;height:auto}
.fbFlyoutDialog .fbQuestionsReplyComposer{width:298px}
.fbFlyoutDialog .tickerQuestionsAnswers .fbEigenpollRow .fbEigenpollFacepile, .fbFlyoutDialog .tickerQuestionsAnswers .pollOptions .pollResultsFacepile{width:111px}
.fbFlyoutDialog .tickerQuestionsAnswers .fbEigenpollRow{width:375px}
.fbFlyoutDialog .tickerQuestionsAnswers
.fbFlyoutDialog .fbEigenpollRow .fbEigenpollFacepile, .fbFlyoutDialog .tickerQuestionsAnswers
.fbFlyoutDialog .pollOptions .pollResultsFacepile{width:112px}
.fbFlyoutDialog li.ufiNub{display:none !important}
.tickerDialogBody .uiUfi .ufiItem{padding:5px 8px}
.tickerDialogBody .uiUfi .uiUfiUnseenItem{border-left:4px solid #a8b2ce;padding-left:4px}
.fbFlyoutDialog .fbTickerStreamStory .mainWrapper, .fbFlyoutDialog .fbTickerStreamStory .fbEigenpollFeed, .fbFlyoutDialog .fbTickerStreamStory .fbEigenpollRow{margin:0;width:auto}
.fbFlyoutDialog .fbTickerStreamStory .mainWrapper{padding:0;margin-right:17px}
.fbFlyoutDialog .tickerDialogContent .nuxStoryTitle{margin-bottom:3px}
.fbFlyoutDialog .tickerDialogContent .nuxStoryIcon{margin-top:3px}
.uiStream .fbTickerStreamStory .actorPhoto{margin-bottom:0;margin-top:0;padding:0}
.flyoutChatButtonOnline, .flyoutChatButtonOffline{display:none}
.chatOnline .flyoutChatButtonOnline, .chatOffline .flyoutChatButtonOffline{display:inline-block}
.inCommonSectionList{margin-bottom:1px}

#bootloader_uTAKE { height: 42px; }
.bootloader_uTAKE { display:block !important; }