/*!CK:1131862314!*//*1380834946,173199131*/


._24n .body ._24x{color:#333}
._6nw ._24n .body ._24x{color:#4e5665}
._24n .body ._24x:hover{text-decoration:none}
._24n .body a.signature{color:#3b5998;display:inline}
._24n .body a.signature:hover{text-decoration:underline}
._24n .hover:hover .title ._24x{text-decoration:underline}
._24n .forceRTL{direction:rtl;text-align:right;display:block}
._24n .forceLTR{direction:ltr;text-align:left;display:block}
._24n .adInfo a.identity{color:gray;display:block;white-space:nowrap}
._6nw ._24n .adInfo a.identity{color:#898f9c;overflow:hidden;text-overflow:ellipsis}
._24n .title{font-weight:bold;margin-bottom:0 !important}
._24n .image_body_block{padding-top:3px}
._24n .uiUfi{width:auto}
._24n .fbEmuHidePoll .otherdiv .other{width:206px}
._24n .ads_rhc_close{opacity:0}
._24n:hover .old_x, ._24n:hover .uiSelectorButton, ._24n:hover .ads_rhc_close, ._24n .ads_rhc_close.openToggler, .emu_x .openToggler .uiSelectorButton{opacity:1}
.fbEmuHidePoll .undo{float:right;padding-left:2px;padding-bottom:2px;margin-bottom:3px;margin-left:5px}
.fbEmuHidePoll .fbEmuXTitle{font-weight:bold}
.fbEmuHidePoll .fbEmuXSubtitle{margin-bottom:10px}
.fbEmuHideThanks .fbEmuXThanksTitle{font-weight:bold;margin-bottom:10px}
.fbEmuBlock .fbEmuHidePoll .otherdiv{margin-left:20px}
.emu_x{float:right}
.emu_x .uiSelectorButton{opacity:0}
.old_x{opacity:0}
._5fxh{margin:2px 0 4px;position:relative}
._5fxh:hover a{text-decoration:none}
._5fxh:hover .emu_x .uiSelectorButton{opacity:1}
._5i29{color:#999;font-size:11px}
._5fxm{padding-top:3px}
._5fxm ._5fxn{color:#333;font-size:11px;line-height:13px}
._5h83{display:block}
._5h83 ._5h84{display:inline;position:relative}
._5h83 ._5h85{color:#777;display:inline;font-size:11px;line-height:13px;position:relative}
._5fxi{padding-bottom:3px;padding-top:6px;position:relative}
._5hwt{width:100px}
._5hwt .img{max-height:72px;max-width:100px}
._5hwu{width:128px}
._5hwu .img{max-height:72px;max-width:128px}
._5fxi ._5hwv i{background-image:url(/rsrc.php/v2/yN/r/aERK2-5sOBX.png);bottom:6px;height:22px;left:3px;position:absolute;width:27px}
._5hwx{display:table-cell;vertical-align:middle;width:120px}
._5hwx .img{max-height:90px;max-width:120px}
._5fxj ._5fxk{color:#3b5998;font-size:11px;line-height:13px}
._5fxj ._5fxl{color:#999;font-size:11px;inline-height:13px}
.fbCalendarListView #fbCalendarListWrapper{min-height:1200px}
.fbCalendarListView .fbCalendarList, .fbCalendarListView .fbCalendarPager{width:673px}
.fbCalendarListView .fbCalendarList .fbCalendarItemContent{width:568px}
.fbCalendarList .fbCalendarLabel{width:90px}
.fbCalendarList .fbCalendarItem .fbCalendarHoverElement{visibility:hidden}
.fbCalendarList .fbCalendarItem:hover .fbCalendarHoverElement{visibility:visible}
.fbCalendarList .fbCalendarActionList{display:inline-block}
.fbCalendarItemContent .fbCalendarActions .fbCalendarJoinIcon, .fbCalendarItemContent .fbCalendarActions .fbCalendarInviteIcon{margin-top:2px}
.fbCalendarItem .fbCalendarSuggestedEventPhoto{opacity:.5}
.fbCalendarItem:hover .fbCalendarSuggestedEventPhoto{opacity:1}
.fbCalendarItem .fbCalendarSuggestedEventLabel{color:gray}
.fbCalendarItem:hover .fbCalendarSuggestedEventLabel{color:#333}
.fbCalendarList .fbCalendarHideButton{position:relative;top:-17px}
.fbCalendarList .fbCalendarInlineHideButton{position:relative;top:-2px;display:block;width:16px;margin-left:5px}
.fbCalendarList .fbCalendarHideButton .uiLoadingIndicatorAsync, .fbCalendarList .fbCalendarInlineHideButton .uiLoadingIndicatorAsync{margin-top:4px}
.fbCalendarList .fbCalendarItem .async_saving{visibility:visible}
.fbCalendarList .async_saving .uiCloseButton{display:none}
.fbCalendarList .fbCalendarItemContent{width:402px}
.fbCalendarList .fbCalendarHappyBirthdayer{width:300px}
.fbCalendarLocationPhoto .photoWrap{width:388px;height:298px}
.fbCalendarList .fbHiddenCalendarItem{display:none}
.listMemberFacepileFacebar .img{height:24px !important;width:24px !important}
.listMemberFacepileSearch .img,
.listMemberFacepileNormal .img{height:25px !important;width:25px !important}
.listMemberFacepileLarge .img{height:36px !important;width:36px !important}
.listMemberFacepileLargeCollection .img{height:31px !important;width:31px !important}
div.listMemberFacepileSearch{height:50px;width:50px}
div.listMemberFacepileFacebar{height:48px;width:48px}
div.listMemberFacepileNormal{width:51px;height:51px}
div.listMemberFacepileLarge{width:75px;height:75px}
div.listMemberFacepileLargeCollection{height:64px;width:64px}
div.listMemberFacepileHuge{width:101px;height:101px}
.listMemberFacepile{line-height:0;outline:none;white-space:normal}
.listMemberFacepile .firstImg{margin-right:1px}
.listMemberFacepile .lastImg{margin:1px 0 0 1px}
.listMemberFacepile.listMemberFacepileSearch .firstImg,
.listMemberFacepile.listMemberFacepileFacebar .firstImg{margin-right:0}
.listMemberFacepile.listMemberFacepileSearch .lastImg,
.listMemberFacepile.listMemberFacepileFacebar .lastImg{margin:0}
.listMemberFacepile.listMemberFacepileSearch .img{left:0;position:relative}
.listMemberFacepile .img{display:inline !important}
._5alt{margin-top:0}
.rhcFooterWrap{padding-left:6px}
.rhcFooterBorder{border-top:1px solid #ccc;border-bottom:1px solid #e9e9e9}
.rhcFooterCopyright{padding:10px 0 4px}
#rhc_footer_selector{vertical-align:top}
.rhcFooterSelectorButton .img{margin:6px 0 0 3px;vertical-align:top}
._8_9.ego_column{width:auto}
._8_9 .ego_section{margin:0}
._8_9 .ego_section .uiSideHeader{padding-bottom:0}
._8_9 .ego_section .ego_unit{margin:0;padding:8px 0}
._8_9 .ego_section .ego_unit ._4u8 .fbEmuMarketplace .uiSelectorMenu{margin-top:-3px}
._8_9.egoOrganicColumn .ego_section .ego_unit:last-child{padding-bottom:12px}
._8_9 .ego_section .adsCategoryIcon{margin-top:-2px}
._8_9 .ego_section .uiHeaderTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._8_9 .ego_unit .action{margin-top:0}
._8_9 .ego_unit .action ._24x{outline:none}
._8_9 .ego_unit .ego_x, ._8_9 .ego_unit .emu_x{margin-right:-11px}
._4tot{margin-left:12px}
._8_9 .action .fbEmuContext{display:inline-block}
._8_9 .ego_unit .action ._24x, ._8_9 .action .fbEmuContext, ._8_9 .action .inlineContext{margin-top:8px}
._8_9 .action .inlineContext .fbEmuContext{margin-top:0}
._8_9 .ego_unit .action .fbEmuContext a, ._8_9 .ego_unit .messageBody, ._8_9 .ego_unit .messageBody a, ._8_9 .ego_unit .uiLinkSubtle, ._8_9 .ego_unit .eventRSVP a, ._8_9 ._a1z, ._8_9 ._a1z a{color:#898f9c}
._8_9 .fbEmuStreamStory .messageBody .whitespaceLink:hover, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuStreamOGAction, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuLikeMessage{background-color:#fff}
._8_9 ._5g4m{padding:0 4px}
._8_9 ._5g4m img{opacity:.8}
._8_9 .uiStream .uiStreamMessage{margin-bottom:0}
._8_9 .fbEmuStreamStory .fadStoryAttachment, ._8_9 .fbEmuStreamStory .fadStoryFooter{margin-top:8px}
._8_9 .fbEmuXThanksBody a{font-weight:bold}
._8_9 .ego_unit .uiStreamPassive a, ._8_9 .ego_unit .egoProfileTemplate .ego_title, ._8_9 .ego_unit .eventTitle, ._8_9 .ego_unit .fbEmuMainBody a, ._8_9 .ego_unit .fbEmuStreamStory .uiBlingBox .text{color:#232b37}
._8_9 .ego_unit .action .fbEmuContext a{display:inline;font-weight:bold}
._8_9 .ego_unit .lfloat{margin-right:10px}
._8_9 .ego_unit .lfloat > .img{padding-top:0}
._8_9 .ego_unit .image_body_block, ._8_9 .ego_unit .fbEmuContext, ._8_9 .ego_unit_container{line-height:16px;padding:0}
._8_9 .ego_section .ego_unit:first-child, ._8_9.egoOrganicColumn .ego_section .ego_unit:first-child{padding-top:10px}
._8_9 .ego_unit .uiStream .uiStreamMessage{font-size:12px}
._8_9 .ego_unit .uiStarsRatable{margin-top:5px}
._8_9 .egoPlaceComboInput .uiTypeaheadSpan{padding:0}
._8_9.egoOrganicColumn .ego_section .ego_unit{border-top:0;padding:6px 0}
._8_9 .uiStream .uiStreamPassive{color:#4e5665;font-size:12px}
._8_9 .uiStream .uiStreamPassive a{font-weight:bold;text-decoration:none}
._7ee .fbReminders{padding:8px 0}
._7ee .fbReminders:empty{padding:0}
._7ee .fbReminders .fbRemindersStory{margin:0 -12px;padding:4px 12px 3px}
._7ee .fbReminders .fbRemindersStory:hover{background-color:#f2f3f3}
._7ee .fbReminders .fbRemindersStory .fbRemindersRemove{margin-top:-1px}
._7ee .fbReminders .fbRemindersStory .fbRemindersRemove .fbRemindersCloseButton{margin-right:-7px}
._7ee .fbReminders .fbRemindersStory._8_8{padding-left:11px}
._7ee .fbReminders .fbRemindersStory em, ._7ee .fbReminders .fbRemindersStory .fbRemindersTitle{color:#232b37}
._7ee .img{margin-right:8px}
.ego_x{float:right;opacity:0}
.ego_unit:hover .ego_x{opacity:1}
.ego_title{display:block;font-weight:bold;line-height:13px;max-width:162px;word-wrap:break-word}
.ego_page .UIStandardFrame_Container{padding-left:0;width:980px}
.ego_page .UIStandardFrame_Content{width:720px}
.ego_page .UIStandardFrame_SidebarAds{width:auto}
.ego_column{width:244px}
.ego_section{margin-bottom:15px}
.ego_section .async_saving a{display:none}
.ego_section .indicator{display:none}
.ego_section .async_saving .indicator{display:inline}
.ego_section .adsCategoryIcon{vertical-align:-1px}
.ego_section .uiHeaderTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.adsCategoryTitleLink{color:#666}
.egoGYSJ{margin-left:3px;margin-bottom:2px}
.egoGYSJImage{margin-top:2px}
.egoGYSJName{display:inline-block;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:162px}
.egoGYSJFooter{padding:0 18px 15px 0}
.egoGYSJFooterButton{width:100%}
div.egoProfileTemplate div{margin-top:2px;line-height:13px}
div.ego_unit_container div.clickable{cursor:hand;cursor:pointer}
div.egoProfileTemplateSubtitle{color:gray}

._502j div{overflow:hidden}
._502k{padding-right:5px;text-align:right}
._w8_{padding:3px 3px 1px}
._w90 ._w8_, ._1f8g ._w8_{padding:0}
._w90 ._1g2x{margin:0 0 -2px}
html ._w8_ .fbTimelineFriendsBoxLarge{margin:0 0 1px}
._w8_ .fbTimelineFriendsBoxLarge .friendsBoxInner{padding-top:0}
html ._4se3{background:#f6f7f8;font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;line-height:21px;padding:20px 20px 22px}
html ._4se3:hover{background:#e9eaed}
._51r4{float:left;margin:5px 9px 0 0}
._51r5{overflow:hidden}
._w8_ ._5etr{border:1px solid #d2d6db}
._54j8{background-color:#d2d6dc;border-bottom:1px solid #adb3bc;border-top:1px solid #adb3bc;margin:-4px 0 3px -3px;width:321px}
._54j9{padding:12px 12px 8px}
._54ja{border-top:1px solid #c8ccd3;color:#6a7180;display:block;font-size:12px;height:20px;padding:12px;position:relative}
._54ja:hover{background-color:#dadde2;color:#4e5665;text-decoration:none}
html ._122{border-collapse:separate;border-spacing:3px;margin:-13px 0 -15px -18px}
._122 .uiScaledImageContainer{height:98px;width:98px}
._4lh ._122 .uiScaledImageContainer{height:103px;width:103px}
._55-w{border-bottom:1px solid #eee;padding:10px 15px}
._55-w .uiIconText .img{margin-top:1px}
._55-x{display:block;overflow:hidden}
html .timelineReportContainer .timelineReportContent .timelineUnitContainer._503z{border:0;margin:0 auto;padding:2px 0 0;width:321px}
._5bkn{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAVAgMAAADgAIwZAAAACVBMVEUAAACOjo6Pj4+P/BUbAAAAAnRSTlMATX7+8BUAAAAXSURBVAgdY2AQaGBgYOAQABKNQEwzLgCtAAggRYiIYgAAAABJRU5ErkJggg==);background-repeat:repeat-y;background-size:auto;background-position:0 0;border-radius:50%;bottom:2px;margin:0;position:absolute;right:-2px;top:0;visibility:hidden;width:13px}
._5bkm{cursor:move;position:relative}
._5bkm:hover, ._5bkm.drag{background-color:#f6f6f6}
._5bkm:hover{z-index:1}
._5bkm.drag{z-index:2}
._5bkm.drag ._5bkn, ._5bkm:hover ._5bkn{visibility:visible}
._5gf9{border-bottom:1px solid #e9eaed;font-size:11px;margin:0 12px;padding:10px 0}
._5bko:last-child ._5gf9{border-bottom:none}
._4_vp{display:inline-block;width:275px}
._558a ._4_vp{width:255px}
._4_ug{color:#6a7480;font-weight:bold}
._4_uh{margin-top:2px}
._4_uh, ._4_uh a{color:#adb3bc}
._513w{margin-top:1px}
html ._51iw{margin-right:6px}
._56m_, ._56n0{visibility:hidden}
._5gf9:focus ._56m_, ._5gf9:focus ._56n0, ._5gf9:hover ._56m_, ._5gf9:hover ._56n0{visibility:visible}
._56n0{display:inline-block;height:10px;padding:4px;width:10px}
._57qo{border-bottom:1px solid #eee;padding:10px 15px}
._57qp{padding-bottom:5px}
._57qq{color:#999}
._57qr{vertical-align:middle}
._57qo ._57qr .uiSelectorMenu .itemIcon{display:inline-block}
._57qo ._57qr .uiButtonText{display:none}
._56n0:focus ._56n1, ._56n0:hover ._56n1{background-image:url(/rsrc.php/v2/yX/r/wwa6MsulqLt.png);background-repeat:no-repeat;background-size:auto;background-position:-14px -86px}
._56n0:focus, ._56n0:hover{background:#3b5998}
._56n1{background-image:url(/rsrc.php/v2/yX/r/wwa6MsulqLt.png);background-repeat:no-repeat;background-size:auto;background-position:-14px -75px;display:block;height:10px;width:10px}
._5fgb{display:block;margin:0 auto}
.fbTimelineFriendsBoxLarge{width:409px;margin:-16px 0 -12px -18px}
.fbTimelineFriendsBoxLarge .timelineReportHeader{border-bottom:1px solid #e5e5e5}
.fbTimelineFriendsBoxLarge .friendsBoxInner{padding-top:3px}
.fbTimelineFriendsBoxLarge .friendListing{margin:3px 0 0 3px}
.fbTimelineFriendsBoxLarge .friendHovercard{display:block;position:relative}
.fbTimelineFriendsBoxLarge .friendHovercard:hover{text-decoration:none}
.fbTimelineFriendsBoxLarge .fbTimelineBoxCountPostsdouble, .fbTimelineFriendsBoxLarge .friendPhoto{display:block;height:98px;width:98px}
.fbTimelineFriendsBoxLarge .fbTimelineBoxCountPostsdouble{line-height:98px}
.fbTimelineFriendsBoxLarge .friendListingWider .friendPhoto{width:99px}
.fbTimelineFriendsBoxLarge .friendName{background:#000;background:-moz-linear-gradient(transparent, rgba(0, 0, 0, .7));bottom:0;color:#fff;display:block;left:0;padding-top:5px;position:absolute;width:100%;word-wrap:break-word}
.timelineReportContainer .seeAll{margin:17px 12px 0 0}
.fbTimelineFriendsBoxLarge.timelineReportContainer .timelineReportContent .timelineUnitContainer{margin-top:2px}
.fbTimelineFriendsBoxLarge.timelineReportContainer .timelineUnitContainer .aboveUnitContent{margin-top:-12px}
._538q{border:1px solid #e9eaed}
._538r{color:#adb3bc}
._561s{line-height:13px;margin-top:2px}
._53ee{border-bottom:1px solid #e9e9e9;margin-top:-5px}
._6nw ._53ee{margin-top:0}
html ._58op{padding:0 4px}
html ._5h3q{margin-left:10px;margin-top:4px;padding:2px 4px}
._54bc{display:inline-block}
html ._5ba_ ._54bc{padding-right:40px;padding-top:8px}
html ._5ba_ ._58op{margin-top:3px}
html ._5ba_._5h3r ._54bc{padding-right:0}
._6nw ._5ba_._5h3r ._54bc{padding-right:40px}
._5cl-{overflow:hidden}
html ._54bc .img{margin-left:5px;position:relative;top:-1px;vertical-align:middle}
._569r ._54bc{visibility:hidden}
._569r:hover ._54bc{visibility:visible}
.fbTimelineScrubber{background-color:#e7ebf2;padding:8px 0 8px 1px;top:38px;width:122px;z-index:1}
body.hasViewasChromeBar .fbTimelineScrubber{padding-top:45px}
.fbTimelineScrubber a, .fbTimelineScrubber .selected ul a{border-left:5px solid #c8d1e2;color:#94a0c1;display:block;font-weight:normal;outline:none;padding:4px 0 4px 6px}
.fbTimelineScrubber li{margin-bottom:1px}
.fbTimelineScrubber a:hover, .fbTimelineScrubber a:focus{border-left-color:#a7b4d1;text-decoration:underline}
.fbTimelineScrubber .selected a, .fbTimelineScrubber .selected ul a{border-left-color:#627aad}
.fbTimelineScrubber ul li{border:0;margin:0}
.fbTimelineScrubber .selected a{color:#627aad;font-weight:bold}
.fbTimelineScrubber ul{display:none}
.fbTimelineScrubber .selected ul.loaded{display:block}
.fbTimelineScrubber ul{margin-top:-4px}
.fbTimelineScrubber ul a{padding:1px 0 1px 12px !important}
.fbTimelineScrubber .selected .selected a{color:#627aad;font-weight:normal}
.fbTimelineScrubber ul ul{display:none !important}
.fbTimelineStickyHeader{top:38px;z-index:250}
.tinyViewport .fbTimelineStickyHeader, .collapsedHead .fbTimelineStickyHeaderHidden{display:none}
.tinyViewport .collapsedHead .fbTimelineStickyHeader{display:block}
body.hasVoiceBar .fbTimelineStickyHeader{padding-top:27px}
body.hasVoiceBar.hasSmurfbar .fbTimelineStickyHeader{padding-top:25px}
body.hasViewasChromeBar .fbTimelineStickyHeader{padding-top:37px}
body.hasViewasChromeBar.hasSmurfbar .fbTimelineStickyHeader{padding-top:35px}
.fbTimelineStickyHeaderHidden{height:0;overflow:hidden}
.fbTimelineStickyHeaderAnimating{height:auto;overflow:visible}
.collapsedHead{box-shadow:none}
.collapsedHead #fbProfileCover{height:47px;margin-bottom:-1px}
.collapsedHead #fbProfileCover h2{margin-top:14px;margin-left:63px;margin-bottom:10px;font-size:17px;white-space:nowrap}
.collapsedHead #fbProfileCover .coverNoImage, .collapsedHead #fbProfileCover .coverWrap{height:0}
.collapsedHead #fbProfileCover .profilePicThumb{background:transparent;box-shadow:none;left:11px;margin-top:2px}
.collapsedHead #fbProfileCover .profilePic{height:32px;width:32px}
.collapsedHead #fbProfileCover .leftPic, .collapsedHead #fbProfileCover .rightPic{visibility:hidden;width:0}
.collapsedHead .fbTimelineNavigationPagelet, .collapsedHead #fbProfileCover .fbProfileCoverPhotoSelector, .collapsedHead #fbProfileCover .alternate_name, .collapsedHead #fbProfileCover .presenceIndicator{display:none}
.fbTimelineStickyHeader .stickyHeaderWrap{position:absolute;width:851px}
.fbTimelineStickyHeader .back, .fbTimelineStickyHeader .actions, .fbTimelineStickyHeader .name{position:relative}
.fbTimelineStickyHeader .back{background-color:#fff;border:1px solid #c4cde0;border-radius:0 0 2px 2px;border-top:0;height:47px;position:absolute;width:849px}
.fbTimelineStickyHeader .actions{float:right;padding:12px 25px 7px 16px}
.fbTimelineStickyHeader .name{padding:9px 14px 7px 16px;display:block;float:left;text-overflow:ellipsis;white-space:nowrap}
.ogAppTab .fbStickyHeaderRightLeft{width:819px}
.fbStickyHeaderBreadcrumb{margin-top:3px;margin-left:10px}
html #globalContainer .fbStickyHeaderBreadcrumb .uiButton .uiButtonText, html #globalContainer .fbStickyHeaderBreadcrumb .uiButton input{font-size:13px;line-height:18px;padding-top:0}
.fbStickyHeaderBreadcrumb .uiButton{height:19px;line-height:19px}
.fbStickyHeaderBreadcrumb .nameButton .uiButtonText{max-width:190px !important;overflow:hidden;text-overflow:ellipsis}
.fbTimelineStickyHeader .name .profileThumb{display:block;float:left;height:32px;margin-top:-1px}
.fbTimelineStickyHeader .name .profileThumb .img{display:inline-block;height:32px;width:32px}
#fbProfileCover .fbTimelineStickyHeader .fbTimelineConnectButtonGroup .uiButtonConfirm{background-color:#6d84b4;border-color:#3b5998}
.fbReminders .fbRemindersStory{padding:3px 5px}
.fbReminders .fbRemindersIcon{height:16px;width:16px}
.fbReminders .fbRemindersStory .fbRemindersRemove{margin-top:-1px;display:none}
.fbReminders .fbRemindersStory .fbRemindersRemove.openMenu{display:block}
.fbReminders .celebrationStory .fbRemindersRemove{display:block;visibility:hidden}
.fbReminders .celebrationStory:hover .fbRemindersRemove{visibility:visible}
.fbReminders .fbRemindersStory:hover{background-color:#eceff5;cursor:pointer}
.fbReminders .fbRemindersStory:hover a{text-decoration:none}
.fbReminders .fbRemindersStory:hover .fbRemindersRemove, .fbReminders .fbRemindersStory a{display:block}
.fbReminders .fbRemindersStory .fbRemindersTitle{color:#3b5998}
.fbRemindersContent{overflow:hidden}
.fbRemindersContent .fbRemindersFooter{text-align:center}
.fbRemindersContent .fbCalendarList .fbCalendarLabel{width:60px}
.fbRemindersContent .fbCalendarList .fbCalendarItemContent{width:330px}
.fbRemindersContent .fbRemindersPokeBack{white-space:nowrap}
.fbRemindersContent .uiScrollableArea .jewelHeader{background-color:#fff}
.fbRemindersContent .fbRequestList, .fbRemindersContent .jewelHeader, .fbRemindersContent .friendBrowserForm{margin-right:10px}
.fbBirthdayRemindersContent .uiScrollableAreaWithShadow.contentBefore:before{box-shadow:0 1px 2px rgba(0,0,0,0.2);top:-2px}
.fbBirthdayRemindersContent .uiScrollableAreaWithShadow.contentAfter:after{background-color:#fff;box-shadow:0 -1px 2px rgba(0,0,0,0.3);height:6px}
.fbBirthdayRemindersContent .fbRemindersTitleSeeAll{color:#627aad}
.fbBirthdayRemindersContent .fbRemindersSubtitleActionList{color:#adb2bb}
.fbBirthdayRemindersContent .fbRemindersSubtitleAgeText{color:#6a7180}
.fbBirthdayRemindersContent .fbRemindersTodayHeader, .fbBirthdayRemindersContent .fbRemindersSublistHeader{color:gray;font-size:11px}
.fbBirthdayRemindersContent
.fbRemindersBirthdayList
.fbRemindersBirthdayListItem{border-color:#e9eaed}
.fbRemindersLoadingIndicator{display:block;padding:50px;text-align:center}
.fbRemindersStickyArea{background-color:#fff}
.uiStreamSecondaryTime .img{bottom:-2px;position:relative;vertical-align:top}
._55pe{display:inline-block;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;white-space:nowrap}
.gecko ._55pe{bottom:1px;position:relative}

.uiMediaThumb{background:#fff;border:1px solid #ccc;display:-moz-inline-box;display:inline-block;outline:none;padding:4px;position:relative;vertical-align:bottom}
.loading.uiMediaThumb{background:url(/rsrc.php/v2/yk/r/LOOn0JtHNzb.gif) no-repeat center center}
.loading.uiMediaThumb i{opacity:.3}
.uiMediaThumbSelected{background-color:#3b5998;border-color:#3b5998}
.uiMediaThumb:hover, .uiMediaThumb:hover .uiMediaThumbWrap, .uiMediaThumb:active, .uiMediaThumb:active .uiMediaThumbWrap, .uiMediaThumb:focus, .uiMediaThumb:focus .uiMediaThumbWrap{border-color:#3b5998}
.uiMediaThumb i{background-color:#eee;background-position:center 25%;background-repeat:no-repeat;display:block}
.uiMediaThumbSmall i{height:54px;width:73px}
.uiMediaThumbMedium i{height:85px;width:114px}
.uiMediaThumbLarge i{height:116px;width:149px}
.uiMediaThumbHuge i{height:120px;width:161px}
.uiMediaThumbAlb{margin-bottom:5px;margin-right:5px}
.uiMediaThumbWrap{background:#fff;border:1px solid #ccc;left:4px;padding:4px;position:absolute;top:4px}
.uiMediaThumbAlbSmall, .uiMediaThumbSmall .uiMediaThumbWrap i{height:49px;width:68px}
.uiMediaThumbAlbMedium, .uiMediaThumbMedium .uiMediaThumbWrap i{height:80px;width:109px}
.uiMediaThumbAlbLarge, .uiMediaThumbLarge .uiMediaThumbWrap i{height:111px;width:144px}
.uiMediaThumbAlbHuge, .uiMediaThumbHuge .uiMediaThumbWrap i{height:115px;width:156px}
.openToggler > a._4-s1, .openToggler > a._4-s1:hover, .openToggler > a._4-s1:focus, .openToggler > a._4-s1:active{background-color:#6d84b4;background-image:none;border:1px solid #3b5998;border-bottom-color:#6d84b4;box-shadow:none;color:#fff}

#bootloader_EqYjP { height: 42px; }
.bootloader_EqYjP { display:block !important; }