/*!CK:178772172!*//*1380521335,173209403*/

._4kdq #chatFriendsOnline._5d12{display:block}
#chatFriendsOnline._5d12{padding-bottom:0;padding-top:0}
#chatFriendsOnline._5d12 .uiHeader{padding-bottom:0;padding-top:0}
._5d12 .uiClearableTypeahead .clear, ._5d12 .uiTypeaheadDisabled .selected .clear{display:none}
._5d12 .fbFriendsOnlineFacepileItem a:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._5d12 .fbFriendsOnlineFacepile .fbFriendsOnlineFacepileItem{margin:3px 3px 0 0}
._5d12 ._562v{margin:0 -3px 0 -1px;padding:12px 0}
._5hou{background-color:#fff;border-radius:5px;box-shadow:0 1px 2px rgba(0, 0, 0, .25), 0 0 0 1px rgba(0, 0, 0, .15);color:#6a7180;font-size:10px;height:11px;line-height:10px;padding:0 4px;position:absolute;right:-2px;top:-2px;z-index:1}
._562v ._5hov{background-color:#c4c5c8;color:#fff;display:inline-block;height:32px;line-height:32px;margin-top:3px;text-align:center;text-decoration:none;width:32px}
._5df5{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-128px -41px;height:12px;left:8px;margin-top:-6px;position:absolute;top:50%;width:12px}
._5d12 .inputsearch{background-image:none;padding-left:26px}
._5d12 .uiTypeahead{border:1px solid #d3d6db;box-shadow:0 1px 1px rgba(0, 0, 0, .06) inset;height:24px;line-height:24px;width:277px}
._5d12 .uiTypeahead .wrap{border:0}
._5d12 .DOMControl_placeholder{color:#a9a9a9}
._5d12 .textInput::-webkit-input-placeholder{color:#ddd}
._5d12 .textInput:-moz-placeholder{color:#ddd}
._5d12 .textInput::-moz-placeholder{color:#ddd}
._5d12 .textInput:-ms-input-placeholder{color:#ddd}
._5d12 .typeaheadContainer{margin-bottom:4px}
#chatFriendsOnline._5d12 .fbChatTypeaheadView li{margin-right:0}
.sidebarMode #chatFriendsOnline{display:none}
#chatFriendsOnline .chatGoOnlineLink span{background:url(/rsrc.php/v2/yW/r/AebrcwrBeG6.png) no-repeat right 3px;padding:0 12px 0 2px}
#chatFriendsOnline .chatGoOnlineLink, #chatFriendsOnline .chatGoOnlineLink:hover, #chatFriendsOnline .chatReconnectLink, #chatFriendsOnline .chatReconnectLink:hover{margin:3px 0 0 7px;text-decoration:none}
#chatFriendsOnline .fbChatReconnecting{display:inline-block}
#chatFriendsOnline .chatReconnectLink .img{margin-top:7px;background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-54px -65px;height:13px;width:14px}
#chatFriendsOnline .fbChatOfflineMessage, #chatFriendsOnline .fbChatDisconnectedMessage{padding:0 5px 0 1px}
#chatFriendsOnline.disconnected .fbFriendsOnlineFacepileItem .img{opacity:.3}
#chatFriendsOnline .typeaheadContainer td:first-child{width:100%}
#chatFriendsOnline .sidebarBtn{display:none;margin-left:3px}
.sidebarCapable #chatFriendsOnline .sidebarBtn{display:inline-block}
#chatFriendsOnline .fbChatTypeaheadView li{margin-right:5px;padding-right:3px}
.fbChatSidebar{background-clip:padding-box;background-color:#f2f4f8;border-left:1px solid rgba(0, 0, 0, .4);box-shadow:inset 2px 0 2px -2px #b2b9c9;display:none;height:100%;position:fixed;right:0;top:0;width:205px;z-index:300}
.sidebarMode .fbChatSidebar{display:block}
.fbChatSidebar .fbChatSidebarBody{overflow:hidden;position:relative}
.fbChatSidebar .scrollableOrderedList{height:100%;width:100% !important}
.fbChatSidebar .scrollableOrderedList .uiScrollableAreaTrack{top:10px}
.fbChatSidebar .fbChatOrderedList, .fbChatSidebar .fbChatTypeaheadView{padding-top:8px}
.fbChatSidebar .fbChatSidebarMessage{background-color:#fff;border-top:1px solid #ccd0db;box-shadow:inset 0 1px #fafafa;display:none;padding:8px}
.fbChatSidebar.notice .fbChatSidebarMessage, .fbChatSidebar.error .fbChatSidebarMessage, .fbChatSidebar.offline .fbChatSidebarMessage, .fbChatSidebar.blackbird .fbChatSidebarMessage, .fbChatSidebar.upsell .fbChatSidebarMessage{display:block}
.fbChatSidebar.blackbird .fbChatSidebarMessage .message, .fbChatSidebar.upsell .fbChatSidebarMessage .message{color:#333}
.fbChatSidebar .fbChatSidebarMessage .img{float:left;margin-top:3px}
.fbChatSidebar.notice .fbChatSidebarMessage .img{display:none}
.fbChatSidebar.error .fbChatSidebarMessage .img{margin-top:7px}
.fbChatSidebar.offline .fbChatSidebarMessage .img{background-image:url(/rsrc.php/v2/yN/r/cUAwPimZh4q.png);background-repeat:no-repeat;background-size:auto;background-position:-69px -108px;height:10px;width:16px}
.fbChatSidebar.error .fbChatSidebarMessage .img{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-54px -65px;height:13px;width:14px}
.fbChatSidebar.offline .fbChatSidebarMessage .message, .fbChatSidebar.error .fbChatSidebarMessage .message{margin-left:24px}
.fbChatSidebar .fbChatSidebarMessage .message .fbChatReconnectLink{white-space:nowrap}
div.fbChatSidebarDropdown .uiCloseButton{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:0 -65px;border:0;height:24px;width:26px}
.highContrast div.fbChatSidebarDropdown .uiCloseButton{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.highContrast div.fbChatSidebarDropdown .uiCloseButton::before{content:attr(title)}
.fbSidebarFavoriteList div.fbChatSidebarDropdown .uiCloseButton{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-199px -33px}
div.fbChatSidebarDropdown .uiCloseButton:hover{background-color:#fff}
div.fbChatSidebarDropdown .openToggler .uiCloseButton{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-27px -65px;border:0 !important;border-left:1px solid #3b5998 !important;border-right:1px solid #3b5998 !important;margin:0 -1px}
div.fbChatSidebarDropdown .openToggler .uiSelectorMenuWrapper{margin-right:-1px}
.fbChatSidebarDropdown .uiMenuItem .itemLabel{white-space:normal;width:120px}
.fbChatSidebarDropdown .uiMenu .disabled{display:none}
.fbChatSidebarDropdown .uiMenu .checked .itemAnchor{font-weight:normal}
.offline .fbChatGoOnlineItem, .upsell .fbChatGoOnlineItem, .fbChatGoOfflineItem{display:block}
.offline .fbChatGoOfflineItem, .upsell .fbChatGoOfflineItem, .fbChatGoOnlineItem{display:none}
._5468.fbChatSidebar div.fbChatSidebarDropdown .uiCloseButton, ._4g5r ._56h3 div.fbChatSidebarDropdown .uiCloseButton{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-48px -33px;background-color:transparent;height:32px;width:24px}
._5468.fbChatSidebar .fbChatSidebarDropdown .uiCloseButton:hover, ._4g5r ._56h3 .fbChatSidebarDropdown .uiCloseButton:hover{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:0 -33px}
._5468.fbChatSidebar .fbChatSidebarDropdown .openToggler .uiCloseButton, ._5468.fbChatSidebar .fbChatSidebarDropdown .uiCloseButton:active, ._4g5r ._56h3 .fbChatSidebarDropdown .openToggler .uiCloseButton, ._4g5r ._56h3 .fbChatSidebarDropdown .uiCloseButton:active{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-24px -33px;background-color:#333741;border-left-color:transparent !important;border-right-color:transparent !important}
._5bcj.fbChatSidebar .fbChatSidebarDropdown{float:right}
._5bcj.fbChatSidebar div.fbChatSidebarDropdown .uiCloseButton{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-99px -35px;height:27px;width:21px}
._5bcj.fbChatSidebar .fbChatSidebarDropdown .uiCloseButton:hover, ._5bcj.fbChatSidebar .fbChatSidebarDropdown .openToggler .uiCloseButton, ._5bcj.fbChatSidebar .fbChatSidebarDropdown .uiCloseButton:active{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-73px -35px;background-color:transparent}
._4oes{border-top:1px solid #c9d0da;bottom:0;position:absolute}
._4oes td:first-child{vertical-align:top;width:100%}
._4oes .button{border-left:1px solid #c9d0da;box-shadow:inset 0 1px #fff;display:block;height:24px;width:26px}
._4oes .button:hover{background-color:#fff}
._4oes .toggle{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-172px -33px}
.fbSidebarFavoriteList ._4oes .toggle{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-145px -33px}
._58vt ._4oes, ._5468 ._4oes{background:#31353e;border-top:1px solid #383c45;bottom:auto;position:static}
._5bcj ._4oes{background:#fff;border-top:0;position:relative}
._5bcj ._4oes:after{background:rgba(0, 0, 0, .1);content:'';height:1px;left:0;position:absolute;right:0;top:-1px}
._58vt ._4oes .button, ._5468 ._4oes .button{border:0;box-shadow:none;height:32px;width:24px}
._5bcj ._4oes .button{height:27px}
._58vt ._4oes .button:hover, ._5468 ._4oes .button:hover{background-color:transparent}
._5468 ._4oes._54_b{margin-right:8px}
._58vt ._4oes .toggle{background-image:url(/rsrc.php/v2/yc/r/ERwAtiRKR7Q.png);background-repeat:no-repeat;background-size:auto;background-position:-244px -278px}
._58vt ._4oes .toggle:hover, ._58vt ._4oes .toggle:focus{background-image:url(/rsrc.php/v2/yc/r/ERwAtiRKR7Q.png);background-repeat:no-repeat;background-size:auto;background-position:-244px -311px}
.fbChatSidebar .fbChatTypeaheadView{bottom:0;position:absolute;top:auto;width:100%}
._d3c{display:none}
.canvas ._d3c.img, .music ._d3c.img{margin-right:3px}
._6nw .music ._d3c.img{margin-right:7px}
._42g5 .music ._d3c, .fbChatOrderedList .music ._d3c{background-image:url(/rsrc.php/v2/yc/r/ERwAtiRKR7Q.png);background-repeat:no-repeat;background-size:auto;background-position:-301px -907px;display:inline-block;height:12px;margin-right:5px;margin-top:4px;width:10px}
._42g5 .birthday ._d3c, .fbChatOrderedList .birthday ._d3c{background-image:url(/rsrc.php/v2/yc/r/ERwAtiRKR7Q.png);background-repeat:no-repeat;background-size:auto;background-position:-138px -671px;display:inline-block;height:16px;margin-bottom:1px;margin-right:2px;vertical-align:middle;width:16px}
._5j5x .birthday ._d3c{background-image:url(/rsrc.php/v2/yc/r/ERwAtiRKR7Q.png);background-repeat:no-repeat;background-size:auto;background-position:-136px -651px;height:10px;margin-bottom:3px;margin-right:5px;width:9px}
._6nw .birthday ._d3c{margin-bottom:4px}
._d3d{padding:8px 10px 10px}
._d3d ._d3e{border-bottom:1px solid #e9e9e9;margin-bottom:8px;padding:0 0 3px}
._5468 ._42g5 .music ._d3c, ._5468 .fbChatOrderedList .music ._d3c{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-95px -65px;height:10px;margin-top:0;width:8px}
._5bcj ._42g5 .music ._d3c, ._5bcj .fbChatOrderedList .music ._d3c{background-image:url(/rsrc.php/v2/yc/r/ERwAtiRKR7Q.png);background-repeat:no-repeat;background-size:auto;background-position:-303px -895px;height:9px;width:7px}
._5468 ._42g5 .canvas ._d3c, ._5468 .fbChatOrderedList .canvas ._d3c{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-82px -65px;height:13px;width:13px}
._42g5 .canvas ._d3c, .fbChatOrderedList .canvas ._d3c, ._5bcj ._42g5 .canvas ._d3c, ._5bcj .fbChatOrderedList .canvas ._d3c{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-69px -65px;display:inline-block;height:12px;width:12px}
.fbSidebarGripper{border-bottom:1px solid #e9eaee;border-top:1px solid #cad0db;cursor:ns-resize;width:100%}
.fbSidebarFavoriteList .fbSidebarGripper{border-bottom:1px solid #fdfdfe}
.fbSidebarGripper div{background:#e4e7f0;border-bottom:1px solid #bdc5d2;border-top:1px solid #f0f1f6;height:4px;position:relative}
.fbSidebarGripper div span{background:#f0f1f6;border-top:1px solid #cad0db;display:block;height:1px;left:50%;margin-left:-6px;margin-top:1px;position:absolute;width:12px}
div.fbSidebarGripper.disabledGrip{border-color:#ccc;border-style:solid;border-width:1px 0 0;cursor:auto;height:0;margin:0;overflow:hidden;padding:0;position:static;width:auto}
.fbSidebarGripper.disabledGrip div, .fbSidebarGripper.disabledGrip:before{display:none}
._4mq3{height:25px;min-width:201px}
.presence_error ._4mq3, .sidebarMode ._4mq3{display:none}
._4kdq ._4mq3{display:block}
._4mq3.openToggler{z-index:99}
._4mq3.openToggler .fbNubButton{display:none}
._4mq3 .fbNubButton .icon{background-image:url(/rsrc.php/v2/yx/r/rcbc6GJHfE8.png);background-repeat:no-repeat;background-size:auto;background-position:0 -27px;float:left;height:10px;margin:3px 4px 0 0;width:16px}
.offline ._4mq3 .fbNubButton .icon, .offline.error ._4mq3 .fbNubButton .icon{background-image:url(/rsrc.php/v2/yN/r/cUAwPimZh4q.png);background-repeat:no-repeat;background-size:auto;background-position:-69px -108px;height:10px;margin:3px 4px 0 0;width:16px}
.error ._4mq3 .fbNubButton .icon{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-54px -65px;height:13px;margin-top:1px;width:14px}
._4mq3 .fbNubButton .label{line-height:15px;margin-right:4px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._4mq3 .fbNubButton .label .count{color:#333}
._4mq3 .fbNubFlyout{bottom:0;min-height:280px;width:100%}
._6nw ._4mq3 .fbNubFlyout{bottom:-3px}
._4mq3 .fbNubFlyoutInner{border-bottom:0}
._4mq3 .fbNubFlyoutTitlebar .titlebarLabel{padding:0}
._4mq3 .fbNubFlyoutTitlebar .titlebarTextWrapper{margin:3px 3px 3px 5px}
._4mq3 .fbChatOrderedList, ._4mq3 .fbChatTypeaheadView{padding:5px 0}
._4mq3 .fbChatTypeahead, ._4mq3 .fbChatTypeahead .wrap{border-style:none}
._4mq3 .fbChatTypeahead{border-top:1px solid #dadfea}
._4mq3 .fbChatTypeahead input{background-image:url(/rsrc.php/v2/yx/r/rcbc6GJHfE8.png);background-repeat:no-repeat;background-size:auto;background-position:left -2px;-moz-box-sizing:border-box;height:24px;padding-left:20px;padding-right:25px}
._4mq3 div.fbChatSidebarDropdown .uiCloseButton{background-image:url(/rsrc.php/v2/yA/r/0A1gDmOEDif.png);background-repeat:no-repeat;background-size:auto;background-position:-39px -418px;border:0 !important;box-shadow:none;height:24px;width:22px}
._4mq3 div.fbChatSidebarDropdown .uiCloseButton:active, ._4mq3 div.fbChatSidebarDropdown .uiCloseButton:focus, ._4mq3 div.fbChatSidebarDropdown .uiCloseButton:hover, ._4mq3 div.fbChatSidebarDropdown .openToggler .uiCloseButton, ._4mq3 div.fbChatSidebarDropdown .openToggler .uiCloseButton:active, ._4mq3 div.fbChatSidebarDropdown .openToggler .uiCloseButton:focus, ._4mq3 div.fbChatSidebarDropdown .openToggler .uiCloseButton:hover{background-image:url(/rsrc.php/v2/yA/r/0A1gDmOEDif.png);background-repeat:no-repeat;background-size:auto;background-position:-16px -418px;background-color:#4a66a0;margin:0}
._4mq3 ._4mq7{background-color:#fff;border-top:1px solid #ccd0db;display:none;padding:6px}
.error ._4mq3 ._4mq7{display:block}
.error ._4mq3 ._4mq7 .img{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-54px -65px;float:left;height:13px;margin-top:7px;width:14px}
._4mq3 ._4mq1{margin-left:24px}
.rogerMarketingCallout .learnMoreLink{margin-left:7px}
#fbTranslationsNub .fbNubFlyout{width:219px}
#fbTranslationsNub .xmode_row{line-height:15px;padding:0 10px 2px 10px}
#fbTranslationsNub .xmode_row_last{line-height:15px;margin:0 10px 0 10px;padding:5px 0 10px;border-top:1px solid #e7e7e7}
#fbTranslationsNub .xselect{padding:5px 6px}
#fbTranslationsNub .xselect select{width:100%}
#fbTranslationsNub .translation_options{padding:8px 0}
#fbTranslationsNub .xexplain{margin:5px 10px 0 10px;padding-bottom:5px;line-height:15px;border-bottom:1px solid #e7e7e7;color:#555}
.downloadDialogPositioner .downloadDialog{position:fixed;z-index:301}
.downloadDialogTopLeft .downloadDialog{left:10px;top:48px}
.downloadDialogBottomLeft .downloadDialog{left:10px;bottom:10px}
.downloadDialogIE9Bottom .downloadDialog{left:10px;bottom:108px}
.downloadDialogTitle{border-bottom:1px solid #e5eaf1;background-color:#edeff4}
.downloadDialogStep .downloadDialogStepLabel{padding-top:3px}
.sidebarMode .tickerStoryContent{max-width:158px}
.fbChatSidebar .tickerHeader{display:none}
.fbChatSidebar .ticker_container{border:0 !important;height:100% !important;width:205px !important}
.fbChatSidebar .scrollTopPrompt{width:205px !important}
.fbChatSidebar .fbFeedTicker{height:100% !important;width:100%}
.fbChatSidebar .uiSideHeader{background-color:#d8dfea !important;border-bottom:1px solid #ccd4e2 !important;border-top:0 !important;margin-bottom:0}
.fbChatSidebar .tickerStoryBlock{margin-left:0 !important}
.fbChatSidebar .fbFeedTicker .fbFeedTickerStory{background-color:transparent;border-bottom-color:transparent;border-top-color:#d8dfea;line-height:13px;padding-right:5px}
.fbChatSidebar .fbFeedTicker .tickerStoryClickable:hover{border-bottom-color:transparent !important;box-shadow:inset 2px 0 2px -2px #b2b9c9}
.fbChatSidebar .fbFeedTicker .tickerStoryHidden, .fbChatSidebar .fbFeedTicker .tickerStoryHidden:hover{background-color:transparent !important;border-bottom-color:transparent !important;border-top-color:#d8dfea !important}
.fbChatSidebar #pagelet_ticker{height:50%;overflow:hidden;position:relative}
.fbChatSidebar .tickerStoryImage{height:28px !important;margin-left:3px !important;width:28px !important}
.fbChatSidebar .fbFeedTicker .tickerStorySelected, .fbChatSidebar .fbFeedTicker .tickerStorySelected:hover{background-position:11px 15px;border-bottom-color:#a8b2ce !important;box-shadow:inset 2px 0 2px -2px #b2b9c9}
.fbChatSidebar .fbFeedTicker .tickerStorySelected.tickerStoryRtl, .fbChatSidebar .fbFeedTicker .tickerStorySelected.tickerStoryRtl:hover{background-position:178px 15px}
.fbChatSidebar .fbFeedTicker .fbFeedTickerStory.tickerNuxStory{background-color:#fff;border-bottom:1px solid #b0b0b0;border-top:1px solid #fff;padding:8px 8px 9px 10px;width:190px;z-index:10}
.fbChatSidebar .sidebarWithFavorites .scrollableOrderedList .uiScrollableAreaTrack{top:25px}
._2px{position:absolute;top:-1px;left:0}
._50d1{border-radius:4px;bottom:30px;left:30px;list-style:none;margin:0;opacity:.96;position:fixed;width:245px;z-index:401}
._6nw ._50d1{font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;width:320px}
._50d1 ._a_g{background-color:#fff;border:1px solid #ccc;border-radius:5px 5px 0 0;bottom:-31px;cursor:pointer;font-size:9px;font-weight:bold;padding:3px 5px;position:absolute;text-align:center;width:60px}
._50d1 ._a_g:hover{background-color:#fff9d7;border-color:#eed111}
._3sod{background-color:#e1e6ee;border:1px solid #99a8c7;border-radius:3px;font-size:11px;margin-top:3px;opacity:0;position:relative;top:-30px;-moz-transition:top .2s ease-in-out,
opacity .3s ease-in-out}
._6nw ._3sod{background-color:#fff;border:1px solid #ccc;border-radius:4px;box-shadow:0 0 4px rgba(0, 0, 0, .2);font-size:12px;margin-top:4px;-moz-transition:top .2s ease-in-out,
opacity .3s ease-in-out,
-moz-box-shadow .2s ease-in-out}
._3soe{opacity:1;top:0}
._3sof{display:none}
._3sod:hover{background-color:#cad1de}
._6nw ._3sod:hover{background-color:#fff;border:1px solid #bbb;box-shadow:0 0 6px rgba(0, 0, 0, .4)}
._3sod ._3sok{display:block;height:28px;margin-right:8px;width:28px}
._3sod ._3soi, ._3sod ._3soi:hover{color:#333;text-decoration:none}
._3sod ._3soj{padding:10px}
._3sod ._3sol{margin-top:-2px;word-wrap:break-word}
._3sod ._3soc{float:right;margin:8px 8px 7px 7px}
._3sod ._3som{color:#777;margin-top:5px}
._52gq{float:right;opacity:0}
._52gr{padding-left:6px}
._52gr li{margin-bottom:8px;padding-right:4px}
._52gr #showall, ._52gr .showAll{text-align:center}
._52gr li + li{border-top:1px solid #e9e9e9;padding-top:8px}
._52gr li:hover ._52gq{opacity:1}
._52gs{font-weight:bold;margin-top:1px}
._5eel{display:block;margin-bottom:3px;width:300px}
._5b21 .showAll{text-align:center}
._5bqs{display:block;margin-bottom:10px;text-align:center}
._5cqd{margin-bottom:5px;margin-top:-6px}
._5cqe{margin-bottom:5px}
._5cqf{margin-bottom:8px;padding-left:6px;padding-right:4px}
._56vv{display:inline-block;position:relative}
._56vw{position:absolute}
._56vw ._56vx{width:246px}
._56vy{height:65px}
._56vv ._56v-{display:inline;position:absolute;top:0;z-index:4}
._56vv ._56v_{left:0}
._56vv ._56w0{right:2px}
._2xo._56v-{display:none}
._5mt2 ._56vw ._56vx{width:205px}
._59lf ._56vv ._56w0, ._5mt2 ._56vv ._56w0{right:0}
._5mt2 .uiHeader.uiSideHeader{background-color:#E7EBF2 !important;border-bottom:0 !important;border-top:1px solid #ccd4e2 !important}
._59lf ._56vw ._56vx{width:290px}
.sp_5tcpoo{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}
.sx_300c76{width:26px;height:24px;background-position:-27px -65px}
.sx_153c04{width:26px;height:24px;background-position:0 -65px}
.sx_560c92{width:26px;height:24px;background-position:-199px -33px}
.sx_db3d4e{width:26px;height:24px;background-position:-172px -33px}
.sx_f571e9{width:26px;height:24px;background-position:-145px -33px}
.sx_a3177f{width:14px;height:13px;background-position:-54px -65px}
.sx_3f9b2e{width:8px;height:8px;background-position:-104px -65px}
.sx_0af290{background-position:-128px -41px}
.sx_89899a{background-position:-105px -42px}
.sx_13d33e{background-position:-79px -42px}
.sx_e31588{background-position:-69px -65px}
.sx_a3365a{height:13px;background-position:-54px -43px}
.sx_a9390d{height:13px;background-position:-30px -43px}
.sx_6f23d1{height:13px;background-position:-6px -43px}
.sx_05b2be{background-position:-82px -65px}
.sx_80ce05{width:8px;height:10px;background-position:-95px -65px}
.sx_08b0d1{width:230px;height:32px;background-position:0 0}
.sp_au84t8{background-image:url(/rsrc.php/v2/yx/r/rcbc6GJHfE8.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:10px;width:16px}
.sx_4c40b0{width:11px;height:11px;background-position:-4px -8px}
.sx_78c37f{background-position:0 -27px}
.uiSelectorBottomUp .openToggler .uiSelectorButton,
.uiSelectorBottomUp .openToggler .uiSelectorButton:active,
.uiSelectorBottomUp .openToggler .uiSelectorButton:focus,
.uiSelectorBottomUp .openToggler .uiSelectorButton:hover,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed:active,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed:focus,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed:hover{border:1px solid #3b5998;border-top-color:#6d84b4}
.uiSelectorBottomUp .uiSelectorMenuWrapper{bottom:100%;margin-bottom:-2px;top:auto}
._43ql{border:solid #fff;border-width:1px 0 0 1px;bottom:0;height:5px;position:absolute;right:0;width:5px}
._5d12 ._43ql{border:none;height:8px;width:8px}
.chatOnline ._43ql{background:#84ca5a;background:-moz-linear-gradient(#88cc5f, #7bc64d)}
._5d12 .chatOnline ._43ql{background-image:url(/rsrc.php/v2/yQ/r/t_7eanqm4k3.png);background-repeat:no-repeat;background-size:auto;background-position:-104px -65px;z-index:1}
.chatOffline ._43ql, .chatIdle ._43ql, .chatMobile ._43ql{border:none}
._2xq{height:100%;position:relative}
._2xr, ._2xs{float:left}
._2xt._2xs{margin:0}
._2xo{display:none}
._2xu{height:100%;overflow:hidden;position:relative}
._2xv ._2xn._2xr{visibility:visible}
._2xv ._2xr{visibility:hidden;position:absolute}

#bootloader_AV_R8 { height: 42px; }
.bootloader_AV_R8 { display:block !important; }