/*!CK:1491556381!*//*1380526109,173224731*/

.fbProfileByline{width:493px;margin-top:4px;line-height:15px}
.fbProfileBylineFragment,
.fbProfileNonIconBylineFragment{margin-right:8px;color:#666}
.fbProfileBylineIcon{margin-bottom:1px;margin-top:1px;vertical-align:bottom}
.fbProfileLoggedOutByline{width:493px;margin-top:1px;line-height:14px}
.fbLongBlurb{margin-right:8px;color:#666;padding-bottom:3px}
.fbProfileBylineContextual .inferenceSource{text-align:center;margin-top:10px}
.fbProfileBylineContextual .typeahead{width:300px}
.profile .app_tab{position:relative;zoom:1;overflow:hidden}
.pagelet_app_runner_centered{text-align:center}
.pagesTimelineButtonPagelet{background-color:#e7ebf2;border-bottom:1px solid #c8d1e2;min-width:122px;padding:13px 0 12px 1px;top:38px;z-index:4}
.fbTimelineWideRightCol .pagesTimelineButtonPagelet{min-width:244px}
body.hasVoiceBar .pagesTimelineButtonPagelet{top:64px}
.pagesTimelineRightColumn .fbTimelineScrubber{top:87px}
body.hasVoiceBar .pagesTimelineRightColumn .fbTimelineScrubber{top:113px}
#createPageButton .img{top:3px}
#createPageButton{padding-left:6px}
div.fbTimelineInlineSectionHeader{background:none;border:0;height:40px;text-align:center}
.fbTimelineTimePeriod div.fbTimelineInlineSectionHeader{padding-top:0}
.fbTimelineInlineSectionHeader .uiHeaderTitle{color:#1c2a47}
.fbTimelineTabHeader{background:none;margin:0 10px 20px}
.fbTimelineTabHeader h4{font-size:16px;width:400px}
.fbTimelineAboutMeHeader{margin:0 0 15px;background:none}
.fbTimelineTabSection .fbTimelineAboutMeHeader, .fbTimelineCompactSection .fbTimelineAboutMeHeader{margin:15px 15px 15px 22px}
.timelineLayout .fbTimelineAboutMeHeader h4{font-size:16px}
.fbTimelineAboutMeHeader h4 a{color:#333}
.fbTimelineContentHeader h3.uiHeaderTitle, .fbTimelineInlineSectionHeader h3.uiHeaderTitle{background:#a9b5d3;border-radius:3px;color:#fff;display:inline-block;font-size:14px;font-weight:normal;margin:0;padding:6px 11px;word-wrap:normal}
.fbTimelineContentHeader h3 a{color:#8897bd}
.fbTimelineContentHeader{margin-bottom:15px;text-align:center}
.fbTimelinePermalink .fbTimelineSection .fbTimelineContentHeader{margin-bottom:0}
.fbTimelineContentHeader .headerPlus{border-left:1px solid #e5e5e5;display:inline-block;height:28px;margin:-7px -12px 0 0;text-align:center;width:37px}
.fbTimelineAboutMeHeader .iconImg{margin-top:2px}
.fbTimelineContentHeader .headerPlus .img{margin-top:9px}
#profile_minifeed .reportHide{display:none}
.fbProfileStream .uiStreamMessage .passiveName{font-weight:normal}
.fbProfileStream .uiStreamMessage a.passiveName{font-weight:bold}
.sp_3f47us{background-image:url(/rsrc.php/v2/yn/r/mytqnSHlURK.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_856cee{background-position:0 -18px}
.sx_5e3ef2{background-position:0 -35px}
.sx_60936d{background-position:0 -52px}
.sx_6f8c72{height:17px;background-position:0 0}
.sp_8vtkbs{background-image:url(/rsrc.php/v2/yb/r/vH-lBQiNvIe.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}
.sx_de42d4{width:30px;background-position:0 -198px}
.sx_5ec873{background-position:0 0}
.sx_b4711f{background-position:0 -33px}
.sx_cdf4e6{background-position:0 -66px}
.sx_bc761e{background-position:0 -99px}
.sx_5ce602{background-position:0 -132px}
.sx_e05fdf{background-position:0 -165px}
.sx_39e4e8{width:10px;height:13px;background-position:0 -231px}
.sx_3a8eaf{width:10px;height:13px;background-position:-11px -231px}
.sx_811e1a{width:9px;height:13px;background-position:-22px -231px}
.sx_09ada1{width:9px;height:13px;background-position:0 -245px}
.sx_b405c6{width:9px;height:13px;background-position:-10px -245px}
.sx_cbe105{width:9px;height:13px;background-position:-20px -245px}
.sp_ainx93{background-image:url(/rsrc.php/v2/ym/r/NYWW-iI0hEe.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:13px;width:9px}
.sx_75f670{width:16px;height:16px;background-position:0 0}
.sx_86d655{width:16px;height:16px;background-position:0 -17px}
.sx_33fdeb{width:6px;height:11px;background-position:-6px -104px}
.selected .sx_33fdeb{background-position:0 -104px}
.sx_5a5131{width:8px;background-position:0 -90px}
.sx_45a84e{width:11px;background-position:0 -34px}
.sx_9056c7{background-position:0 -48px}
.sx_fa5ef9{background-position:0 -62px}
.sx_a84c77{background-position:0 -76px}
.sx_0f0913{width:5px;height:7px;background-position:-5px -116px}
.selected .sx_0f0913{background-position:0 -116px}

#bootloader_l3E0D { height: 42px; }
.bootloader_l3E0D { display:block !important; }